<!DOCTYPE html>
<html>
   <head>

   {% load static %}

      <!--Include this css file in the <head> tag -->
	
	<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.css" %}"/>
	<link rel="stylesheet" href="{% static "bootstrap-3.3.7-dist/css/bootstrap.min.css" %}"/>
	<link rel="stylesheet" href="{% static "lobipanel/dist/css/lobipanel.min.css" %}"/>
	<link rel="stylesheet" href="{% static "bootstrap-select/dist/css/bootstrap-select.css" %}"/>
	<link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
	<link href="{% static "css/justify-nav.css" %}" rel="stylesheet">
	<link href="{% static "css/jquery.dataTables.min.css" %}" rel="stylesheet">
	<link href="{% static "bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
	<link rel="stylesheet" href="{% static "font-awesome-4.5.0/css/font-awesome.css" %}">
	<link rel="stylesheet" type="text/css" href="{% static "dist/jquery.jqplot.css" %}" />

	<style type="text/css">
		.form-group{
		margin-bottom: 10px !important;
		}
		.form-group .input-group,
		.form-group .btn-group,
		.form-group > button,
		.form-group > input{
		width: 200px !important;
		margin: 0 10px !important;
		}
	</style>
     
    <!--Include these script files in the <head> or <body> tag-->

	<script src="{% static "js/jquery.min.js" %}"></script>
	<script   src="{% static "js/jquery-ui.js" %}"></script>
	<script src="{% static "bootstrap-3.3.7-dist/js/bootstrap.min.js" %}"></script>
	<script src="{% static "lobipanel/dist/js/lobipanel.min.js" %}"></script>
	<script src="{% static "bootstrap-select/dist/js/bootstrap-select.js" %}"></script>
	<script src="{% static "js/moment.min.js" %}"></script>
	<script src="{% static "js/moment-wilth-locale.min.js" %}"></script>
	<script src="{% static "bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" %}"></script>
	<script src="{% static "/js/jquery.dataTables.min.js" %}"></script>
	<script type="text/javascript" src="{% static "li/dist/jquery.babylongrid.min.js" %}"></script>
	<script type="text/javascript" src="{% static "dist/jquery.jqplot.js" %}"></script>
	<script type="text/javascript" src="{% static "dist/plugins/jqplot.logAxisRenderer.js" %}"></script>
	<script type="text/javascript" src="{% static "dist/plugins/jqplot.trendline.js" %}"></script>


   </head>

   <body>
     


	<div id="common" class="panel panel-default">
	    <div class="panel-heading">
		<div class="panel-title">
		    <h4>Filters</h4>
		</div>
	    </div>
	    <div class="panel-body">
			<form class="form-inline">
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputEmail3">Email address</label>
				    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Invoice">
				  </div>
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputPassword3">Password</label>
				    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="ASN">
				  </div>
				  <div class="form-group">
				    <label class="sr-only" for="exampleInputPassword3">Password</label>
				    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Batch No">
				  </div>
				<div class="form-group">
				    <div class='input-group date' id='datetimepicker6'>
					<input type='text' class="form-control" />
					<span class="input-group-addon">
					    <span class="glyphicon glyphicon-calendar"></span>
					</span>
				    </div>
				</div>
				<div class="form-group">
				    <div class='input-group date' id='datetimepicker7'>
					<input type='text' class="form-control" />
					<span class="input-group-addon">
					    <span class="glyphicon glyphicon-calendar"></span>
					</span>
				    </div>
				</div>
				<div class="form-group">
			<select id="supplierid_id" class="selectpicker" data-live-search="true">
				<option>DS41</option>
				<option>DS34</option>
			</select></div>
				<div class="form-group">
			<select id="suppliername_id"  class="selectpicker" data-live-search="true">
				<option>Sarang</option>
				<option>Cross</option>
			</select></div>
				<div class="form-group">
			<select id="partid_id"  class="selectpicker" data-live-search="true">
				<option>R45</option>
				<option>CD34</option>
			</select></div>
				<div class="form-group">
			<select id="partname_id"  class="selectpicker" data-live-search="true">
				<option>part1</option>
				<option>part2</option>
			</select></div>
				<div class="form-group">
			<button type="submit" class="btn btn-default">Search</button>
</div>
		</form><br>
	    </div>
	</div>


	<div  id="common"  class="panel panel-default common">
	    <div class="panel-heading">
		<div class="panel-title">
		    <h4>Output</h4>
		</div>
	    </div>
	    <div class="panel-body">
		<table id="example" class="display" width="100%" cellspacing="0">
			<thead>
			    <tr>
				<th>ASN Date</th>
				<th>ASN Number</th>
				<th>Qty</th>
				<th>Batch Number</th>
				<th>Date</th>
				<th>Qty</th>
				<th>invoice number</th>
				<th>Date</th>
				<th>Supplier Code</th>
				<th>Supplier Name</th>
				<th>Part No</th>
				<th>Part Name</th>
			    </tr>
			</thead>
			<tbody>
			    <tr>
				<td>xx</td>
				<td>xx</td>
				<td>xx</td>
				<td><a>DS4031-Ambattur - 20160801-4-26-150</a></td>
				<td>x</td>
				<td>y</td>
				<td>x</td>
				<td>y</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			    </tr>
			    <tr>
				<td>xx</td>
				<td>xx</td>
				<td>xx</td>
				<td><a>DS4031-Ambattur - 20160801-4-26-160</a></td>
				<td>x</td>
				<td>y</td>
				<td>x</td>
				<td>y</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			    </tr>
			</tbody>
		    </table>	
	    </div>
	</div>


	<div  id="common"  class="panel panel-default common">
	    <div class="panel-heading">
		<div class="panel-title">
		    <h4>Batch Summary</h4>
		</div>
	    </div>
	    <div class="panel-body">
		<table id="example2" class="display" width="100%" cellspacing="0">
			<thead>
			    <tr>
				<th>Stage</th>
				<th>Final inspection</th>
				<th>Operation 190</th>
			    </tr>
			</thead>
			<tbody>
			    <tr>
				<td>Batch No</td>
				<td><a>DS4031-Ambattur - 20160801-4-26-150</a></td>
				<td><a>DS4031-Ambattur - 20160801-4-26-150</a>&nbsp&nbsp<a>DS4031-Ambattur - 20160801-4-26-150</a>&nbsp<a>DS4031-Ambattur - 20160801-4-26-150</a>&nbsp&nbsp<a>DS4031-Ambattur - 20160801-4-26-150</a>&nbsp&nbsp<a>DS4031-Ambattur - 20160801-4-26-150</a></td>
			    </tr>
			    <tr>
				<td>Lot Size</td>
				<td></td>
				<td></td>
			    </tr>
			    <tr>
				<td>Qualified</td>
				<td></td>
				<td></td>
			    </tr>
			    <tr>
				<td>Reworked</td>
				<td></td>
				<td></td>
			    </tr>
			    <tr>
				<td>Rejected</td>
				<td></td>
				<td></td>
			    </tr>
			    <tr>
				<td>PPM</td>
				<td></td>
				<td></td>
			    </tr>
			</tbody>
		    </table>	
	    </div>
	</div>


	<div  id="common1"  class="panel panel-default">
	    <div class="panel-heading">
		<div class="panel-title">
		    <h4>Reports</h4>
		</div>
	    </div>
	    <div class="panel-body">
		<nav>
		  <ul class="nav nav-justified">
		    <li class="active"><a href="#">Inspection Report</a></li>
		    <li><a href="#">DefectWise</a></li>
		    <li><a href="#">Control/Range</a></li>
		    <li><a href="#">Cp/Cpk</a></li>
		    <li><a href="#">PPM</a></li>
		    <li><a href="#">P Chart</a></li>
		  </ul>
		</nav>
		<div id="chart1"></div>
	    </div>
	</div>


	<script>
	   $(function(){
		$('.common').lobiPanel({
		    reload: false,
		    close: false,
		    editTitle: false,
		    unpin: false,
		    expand: false,
		    minWidth: 300,
		    minHeight: 300,
		    maxWidth: 600,
		    maxHeight: 480
		});
		$('#common1').lobiPanel({
		    reload: false,
		    close: false,
		    editTitle: false,
		    unpin: false,
		    minWidth: 300,
		    minHeight: 300,
		    maxWidth: 600,
		    maxHeight: 480
		});
		$('#datetimepicker6').datetimepicker({
		    sideBySide: true		
		});
		$('#datetimepicker7').datetimepicker({
		    useCurrent: false, //Important! See issue #1075
		    sideBySide: true
		});
		$("#datetimepicker6").on("dp.change", function (e) {
		    $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
		});
		$("#datetimepicker7").on("dp.change", function (e) {
		    $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
		});

		$('#example').DataTable();

	$.jqplot._noToImageButton = true;
	 
	  var l1 = [18, 36, 41, 93, 100, 115, 133, 129, 119, 107, 91, 146, 169];
	  var l2 = [[8, 66], [13, 46], [22,14]];
	  var l3 = [[3.3, 7], [9.5, 22], [12.1, 37], [18.6, 95], [24, 102]];
	  var s1 = [1];
	 
	  var options = {
	    title: "Lines",
	    legend:{show:true, location:'se'},
	    seriesDefaults:{trendline:{show:true, type:"exp"}},
	    axes:{
	      yaxis:{
		renderer:$.jqplot.LogAxisRenderer
	      }
	    }
	  };
	   
	  $("#resizable1").resizable({delay:20});
	  $("#resizable2").resizable({delay:20, helper:'ui-resizable-helper'});
	  $("#resizable3").resizable({delay:20, helper:'ui-resizable-helper'});
	 
	  $('#resizable1').bind('resize', function(event, ui) {
	      // pass in resetAxes: true option to get rid of old ticks and axis properties
	      // which should be recomputed based on new plot size.
	      plot1.replot( { resetAxes: true } );
	  });
	   
	  $('#resizable2').bind('resizestop', function(event, ui) {
	      $('#chart2').height($('#resizable2').height()*0.96);
	      $('#chart2').width($('#resizable2').width()*0.96);
	      // pass in resetAxes: true option to get rid of old ticks and axis properties
	      // which should be recomputed based on new plot size.
	      plot2.replot( { resetAxes:true } );
	  });
	   
	  $('#resizable3').bind('resizestop', function(event, ui) {
	      $('#chart3').height($('#resizable3').height()*0.96);
	      $('#chart3').width($('#resizable3').width()*0.96);
	      plot3.replot( { resetAxes:true, title: 'Resize' } );
	  });
	   
	  var plot1 = $.jqplot('chart1', [l1, l3],  options);
	  var plot2 = $.jqplot('chart2', [l1, l3],  options);
	 
	  var plot3 = $.jqplot('chart3', [l1, l3],  options);

	    });
		
	    $('#supplierid_id').selectpicker({
	      size: 4
	    });
	    $('#suppliername_id').selectpicker({
	      size: 4
	    });
	    $('#partid_id').selectpicker({
	      size: 4
	    });
	    $('#partname_id').selectpicker({
	      size: 4
	    });


	</script>
                        


   </body>
</html>


